body{
	
	background-color:;
}


#d1{
	width:300px;
	height:450px;
	box-shadow:0px 0px 15px gray;
	position:relative;
	top:120px;
	border-radius:20px;
	text-align:center;
	background-color:white;
}
#d2{
	border-radius:20px;
	width:300px;
	height:230px;
	
	background-image:url("addis abeba.jfif");

     background-position:center;
	 background-size:300px 600px;
	
	
}
p{
	position:relative;
	top:15px;
	font-size:20px;
	
}
#p1{
	position:relative;
	bottom:20px;
	
	
}
#d1:hover{
	animation:up;
	animation-duration:1.5s;
	animation-iteration-count:1;
	
}
@keyframes up{
	50%{transform:translatey(-10px);}
}